<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of
        selectors!</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div>
  </div>
  <div class="row" align="right">
    <div class="col">
      <h3><a target="_blank" href="https://www.linkedin.com/in/anass-daoudi-4675b6141/"
             class="btn btn-primary">My LinkedIn</a>
        <small>
          <app-writer></app-writer>
        </small>
      </h3>
    </div>
  </div>
</div>

